<% @todos.each do |todo| %>
<h1> <%= link_to todo.description, todo %> </h1>
 <p> <%= todo.completed %> </p>
<%= link_to "Show", todo %>
<%= link_to "Edit", todo %>
<%= link_to "Borrar", todo, method: :delete %>
<% end %>
